@charset "UTF-8";
footer {
	/* background-color: rgb(242, 242, 242); */
	margin-top: 50px;
	height: 250px;
	font-size: 13px;
	color: grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer li {
	margin: 0px 20px;
	position: relative;
	left: 20px;
}
